/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

/* @font-face {
  font-family: 'Krona';
  src:
    local('Krona'),
    url('/fonts/KronaOne-Regular.ttf') format('truetype');
} */

@font-face {
  font-display: swap;
  font-family: 'Krona';
  font-style: normal;

  src:
    local('Krona'),
    url('/fonts/kronaone-regular-webfont.woff2') format('woff2');
}

/* @font-face {
  font-family: 'Montserrat';
  src:
    local('Montserrat'),
    url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
} */

/* montserrat-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat-400';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v26-latin-regular.woff2') format('woff2');
}

/* montserrat-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Montserrat-600';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/montserrat-v26-latin-600.woff2') format('woff2');
}

:root {
  --qwik-dark-blue: #006ce9;
  --qwik-light-blue: rgb(87, 87, 87);
  --qwik-light-purple: #ac7ff4;
  --qwik-dark-purple: #713fc2;
  --link-color-hover: rgb(241, 196, 15);

  /* rgb(248, 85, 85) */

  --qwik-dark-text: #ffffff;
  --header-height: 120px;
  --loader-color: #1d2033;
  --arrow-color: #1d2033;
  --top-bar-height: 80px;

  --shop-container-width: 90vw;
  --product-name-color: rgb(65, 119, 100);
  --description-color: rgb(87, 87, 87);

  /* List Item */
  --list-item-background: rgba(0, 0, 0, 0.04);

  /* Input Width and Height */
  --input-width-sm: 80px;
  --input-height-md: 55px;
  --input-height-sm: 34px;

  /* Line Height */
  --line-height-xs: 1.2;
  --line-height-sm: 1.4;
  --line-height-md: 1.85;

  /* Font Size */
  --font-size-xs: 11px;
  --font-size-sm: 13px;
  --font-size-md: 15px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-xxl: 30px;
  --font-size-xxl2: 54px;

  /* CTA BUTTON HEIGHT */
  --cta-add-to-cart: 50px;

  /* Font Family */

  --font-family-primary: 'Krona', sans-serif;
  --font-family-secondary: 'Montserrat-600', sans-serif;
  --font-family-tertiary: 'Montserrat-400', sans-serif;
}
::selection {
  background-color: transparent;
}

html {
  line-height: var(--line-height-md);
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  position: fixed;
  display: flex;
  width: 100%;
  flex-direction: column;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
