.header {
  position: relative;
  z-index: 3;
  height: var(--header-height);
  flex-wrap: wrap;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
}
.logo a {
  display: block;
}

.header ul {
  color: #fcfcfc;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  padding: 0;
  font-size: 13.5px;
  letter-spacing: 0.09rem;
}

.header li a {
  color: #fcfcfc;
  display: inline-block;
  padding: 0;
  text-decoration: none;
}

.header li a:hover {
  text-decoration: underline;
}

.list-container {
  padding: 0 30px;
  flex: 1;
  font-family: var(--font-family-secondary);
}
.icons-container {
  padding: 0 30px;
  cursor: pointer;
}

/* .icons-container li:hover {
  color: var(--link-color-hover);
} */

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}

.button-wrap {
  padding: 0 30px;
  cursor: pointer;
}
